<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hora Extra</title>
</head>

<body>
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><img src="http://www.planb.net.br/mateus/topo.png" width="700" height="98" border="0"></td>
  </tr>
  <tr>
    <td width="600" height="300" align:"center" style ="font-family: Arial; font-size:18">	<h2>Olá Gestor,</h2>
   				<p>No seu <%= (@overtime.project.name) %>, foi criada uma hora extra por <%=(@overtime.user.name)%>,que começou as
            <%= (@overtime.start_overtime.strftime('%d/%m/%Y %H:%M'))%> e foi finalizada as <%= (@overtime.end_overtime.strftime('%d/%m/%Y %H:%M')) %> por este motivo: <br>
            <%= (@overtime.description) %>.</p>

 			<p>Aguardo a sua aprovação.</p></td>
  </tr>
  <tr align="center">
    <a href="http://horaextra.herokuapp.com/aprovar/<%= @overtime.id %>"><img src="http://www.planb.net.br/mateus/BT.png" width="366" height="62" border="0"></a>
  </tr>
  <tr align="center">
    <a href="http://horaextra.herokuapp.com/no_approved/<%= @overtime.id %>"><img src="http://www.planb.net.br/mateus/BT.png" width="366" height="62" border="0"></a>
  </tr>
  <tr>
  	<td><img src="http://www.planb.net.br/mateus/final.png" width="700" height="114" border="0"></td>
  </tr>
</table>
</body>
</html>

   




	
