<%=(@overtime.user.name)%> sua Hora Extra acaba de ser aceita do projeto <%= (@overtime.project.name) %>, <%= (@overtime.start_overtime.strftime('%d/%m/%Y %H:%M'))%> as <%= (@overtime.end_overtime.strftime('%d/%m/%Y %H:%M')) %> por este motivo: <br>
      <%= (@overtime.description) %>.</p>

<p>Está aguardando a aprovação do gestor</p>