<h1>Horas Extras</h1>


<%= render "shared/menu" %>



<table>
  <tr>
    <th>Motivo</th>
    <th>Inicio</th>
    <th>Fim</th>
    <th>Horas Trabalhadas</th>
    <th>Project</th>
  
  </tr>

<% @overtimes.each do |overtime| %>
  <tr>
    <td><%= overtime.description %></td>
 
    <td><%= overtime.start_date %>, às <%= overtime.start_time %></td>
    <td><%= overtime.end_date %>, às <%= overtime.end_time %></td>
    <td><%= overtime.calculator %></td>
    <td><%= overtime.project.name %></td>
  </tr>
<% end %>
</table>

<br />


