<h1>Registro do Gestor</h1>


<%= render "shared/menu" %>

    <div class="pull-right">Total de Horas  <%=  (Overtime.SumOvertimes(current_user)/ 3600).to_i %> Horas </div>
    <div class="pull-left"> </div>
    <table data-filter="#filter" class="footable">
      <thead>
        <tr>
          <th data-class="expand" data-sort-initial="true">
            Projeto
          </th>
          <th>
            Usuario
          </th>
          <th data-hide="phone,tablet">
            Horario Inicial
          </th>
          <th data-hide="phone,tablet" data-type="numeric"> 
            Horario Final
          </th>
          <th data-hide="phone">
            Motivo
          </th>
          
          <th data-hide="phone">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <% @overtime.each do |overtime| %>
          <tr>
            <td><%= overtime.project.name %></td>
            <td><%= overtime.user.name %></td>
            <td><%= overtime.start_overtime.strftime('%d/%m/%Y %H:%M') %></td>
            <td><%= overtime.end_overtime.strftime('%d/%m/%Y %H:%M') %></td>
            <td data-value="suspended"><%= overtime.description %></td>
            <td data-value="suspended">
              <% if overtime.status == "pedding" 
                  concat image_tag("suspended.png")           
               else overtime.status == "approved"
                  concat image_tag("active.png") 
              end
              %>              
          </tr>
      <% end %> 
      </tbody>
    </table>

    