<script type="text/javascript">
	$(function() {
		$('#flash_notice').avgrund({
			height: 200,
			openOnEvent: false,
			holderClass: 'custom',
			showClose: true,
			showCloseText: 'Close',
			enableStackAnimation: true,
			onBlurContainer: '#main',
			template: '<p>Sua hora extra foi computada, aperta esc.</p>'
		});
	});
</script>

<%= render "shared/menu" %>
<div class="span10 offset1">
	<h1>Registro de Horas Extras</h1>
	<p class="txt-descricao">Aqui são preenchidas as horas extras e sua justificativa. Seu nome de usuário será registrado quando você enviar este formulário.</p>
	<% if user_signed_in? %>

		<%= form_for @overtime, :html => { :class => 'form-horizontal' } do |f| %>

			  <% if @overtime.errors.any? %>
			    <div id="error_explanation" class="alert alert-error">
			      <h2><%=@overtime.errors.count %> <%= (@overtime.errors.count==1)? "erro encontrado":"erros encontrados" %></h2>
			      <ul>
				      <% @overtime.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				  </ul>
			    </div>
			  <% end %>
			
			<div class="span9">
				<div class="control-group">
					<%= f.label :Por_que_foi_necessário_o_trabalho_em_hora_extra?, :class => 'control-label' %>
					<div class="controls">
						<%= f.text_area :description, :class => 'text_field' %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :Início_da_hora_extra, :class => 'control-label' %>
					<div class="controls">
						<%= f.datetime_select :start_overtime, :class => '' %>					
					</div>
				</div>	
				<div class="control-group">
					<%= f.label :Fim_da_hora_extra, :class => 'control-label' %>
					<div class="controls">
						<%= f.datetime_select :end_overtime, :class => '' %>					
					</div>
				</div>	
			  	<div class="field">
				    <%= f.label :Projeto %>
				     <%= select(:overtime, :project_id, (Project.all.collect {|project| [ project.client.name+ " - " +project.name , project.id ] }).sort, { :prompt => 'Selecione um projeto' })      %>
				   
			  	</div>
			</div>
			<div class="form-actions btRegistrar span10">
				<%= f.submit :registrar, :class => 'btn btn-warning' %>				
			</div>
		<% end %>

	<% end %>
</div>






