<%= render "shared/menu" %>


<p id="notice"><%= notice %></p>

<p>
  <b>Descrição:</b>
  <%= @overtime.description %>
</p>

<p>
  <b>Início da hora extra:</b>
  <%= @overtime.start_time %>
</p>

<p>
  <b>Fim da hora extra:</b>
  <%= @overtime.end_time %>
</p>

<p>
  <b>Data de ínicio:</b>
  <%= @overtime.start_date %>
</p>

<p>
  <b>Data final:</b>
  <%= @overtime.end_date %>
</p>



<p>
  <b>Projeto:</b>
  <%= @overtime.project.name %>
</p>


<%= link_to 'Visualizar Horas Extras', '/horas-extras' %>