<%= render "shared/menu" %>


<p id="notice"><%= notice %></p>

<p>
  <b>Descrição:</b>
  <%= @overtime.description %>
</p>

<p>
  <b>Início da hora extra:</b>
  <%= @overtime.start_overtime.strftime('%d/%m/%Y %H:%M') %>
</p>

<p>
  <b>Fim da hora extra:</b>
  <%= @overtime.end_overtime.strftime('%d/%m/%Y %H:%M') %>
</p>

<p>
  <b>Projeto:</b>
  <%= @overtime.project.name %>
</p>

<%= link_to 'Confirmar Hora Extra', '/horas-extras' %>