<h1>Registrar Hora Extra</h1>


<%= link_to "Sign out", "/users/sign_out"%>


<% if user_signed_in? %>
	<%= current_user.name %>
	<img src="<%= current_user.picture %>" width="50" />


	<%= form_for @overtime, :html => { :class => 'form-horizontal' } do |f| %>

	<div class="control-group">
		<%= f.label :description, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :description, :class => 'text_field' %>
		</div>
	</div>

		<div class="form-actions">
			<%= f.submit nil, :class => 'btn btn-primary' %>
			
		</div>
	<% end %>

<% end %>